:host-div {
  margin-top: 2em;
}

.cuisine-img {
  max-height: 80%;
}

.fa {
  font-size: 1.2em;
}

.gold {
  color: gold;
}

.blue {
  color: #007bff;
}

.card {
  small {
    font-weight: 300;
  }
  .card-text {
    font-weight: 200;
  }
  span {
    display: inline-block;
  }
}
