<div class="d-flex main-container">
  <div class=" row col-12 m-1 justify-content-center align-items-end">
    <div class="col-11 col-md-8 text-center">
      <h3 class="lbl">Find the best restaurants, cafés, and bars in Europe</h3>
      <div class="input-group ">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle filter-btn" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{selectedFilterType}}</button>
          <div class="dropdown-menu" (click)="clickOnRestroFilterFn($event)">
            <a class="dropdown-item" *ngFor="let item of allowedFilterType">{{item}}</a> </div>
        </div>
        <input list="locationList" type="text"  [(ngModel)]="currentSearchText" class="form-control" (keyup)="searchItemsFn($event)">
        <button (click)="onSubmitClickedFn()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


<datalist id="locationList">
  <option *ngFor="let item of itemsForDropDown" value="{{item}}">
</datalist>